
// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i');
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

@import "../css/vendor.css";

@import "~toastr/toastr";


.thin-progress-bar {
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
    width: 0;
    height: 2px;
    background: #00AAEB;
}
